@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --black-gradient: linear-gradient(
    144.39deg,
    #ffffff -278.56%,
    #6d6d6d -78.47%,
    #11101d 91.61%
  );
  --card-shadow: 0px 20px 100px -10px rgba(66, 71, 91, 0.1);
}

* {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow: hidden;
  background-color: #000;
}

.text-gradient {
  background: linear-gradient(
    64.18% 64.18% at 71.16% 35.69%,
    #5ce1e6 0%,
    #33bbcf 50%,
    #5ce1e6 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.bg-blue-gradient {
  background: linear-gradient(
    157.81deg,
    #def9fa -43.27%,
    #bef3f5 -21.24%,
    #9dedf0 12.19%,
    #7de7eb 29.82%,
    #5ce1e6 51.94%,
    #33bbcf 90.29%
  );
}

.bg-black-gradient {
  background: linear-gradient(
    144.39deg,
    #ffffff -278.56%,
    #6d6d6d -78.47%,
    #11101d 91.61%
  );
}

.bg-black-gradient-2 {
  background: linear-gradient(
    -168.39deg,
    #ffffff -278.56%,
    #6d6d6d -78.47%,
    #11101d 91.61%
  );
}

.bg-gray-gradient {
  background: linear-gradient(
    153.47deg,
    rgba(255, 255, 255, 0) -341.94%,
    #14101d 95.11%
  );
}

.bg-discount-gradient {
  background: linear-gradient(125.17deg, #272727 0%, #11101d 100%);
}

.box-shadow {
  box-shadow: 0px 20px 100px -10px rgba(66, 71, 91, 0.1);
}

.sidebar {
  -webkit-animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

.feature-card:hover {
  background: var(--black-gradient);
  box-shadow: var(--card-shadow);
}

.feedback-container .feedback-card:last-child {
  margin-right: 0px;
}

.feedback-card {
  background: transparent;
}

.feedback-card:hover {
  background: var(--black-gradient);
}

.blue__gradient {
  background: linear-gradient(180deg, rgba(188, 165, 255, 0) 0%, #214d76 100%);
  filter: blur(123px);
}

.pink__gradient {
  background: linear-gradient(90deg, #f4c4f3 0%, #fc67fa 100%);
  filter: blur(900px);
}

.white__gradient {
  background: rgba(255, 255, 255, 0.6);
  filter: blur(750px);
}

.leading-none {
  line-height: 1;
}

.font-bold {
  font-weight: 700;
}

.text-fluid-base {
  font-size: clamp(2rem,8vw,5rem);
}

.text-center {
  text-align: center;
}

.max-w-full {
  max-width: 100%;
}

.z-10 {
  z-index: 10;
}

h1 {
  background: linear-gradient(45deg, yellow, orange);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  white-space: nowrap;
  font-size: 5vw;
}

.container {
  width: 100%;
  height: auto;
  min-height: 100vh;
}

.flexStart {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.boxWidth {
  max-width: 1440px;
  width: 100%;
}

.gradient-text {
  background: linear-gradient(45deg, yellow, orange);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  font-size: 5vw; /* Adjust this value as needed */
  font-family: Poppins, sans-serif; 
  text-align: center;
}

@media screen and (max-width: 768px) {
  .logo {
    width: 30vw; /* Adjust as needed */
  }
  .btn-access {
    width: 35vw; /* Adjust as needed */
    font-size: 1rem; /* Adjust as needed */
  }
}

@media screen and (max-width: 480px) {
  .logo {
    width: 50vw; /* Adjust as needed */
  }
  .btn-access {
    width: 50vw; /* Adjust as needed */
    font-size: 0.8rem; /* Adjust as needed */
  }
}
@media screen and (max-width: 349px) {
  
  .gradient-text {
    font-size: 6vw; /* adjust as needed */
  }

  .btn-gradient {
    margin-top: 20px;
  }
}

#home .gradient-text {
  background: linear-gradient(45deg, yellow, orange);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  font-size: 5vw;
  font-family: Poppins, sans-serif; 
  text-align: center;
}

.text-shadow-glow {
  text-shadow: 0 0 10px #5ce1e6, 0 0 20px #5ce1e6, 0 0 30px #5ce1e6, 0 0 40px #5ce1e6;
}

.paragraph {
  font-family: 'Poppins';
  font-weight: 400;
  color: dimgray;
  font-size: 18px;
  line-height: 30.8px;
}

.flexCenter {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.paddingX {
  padding-left: 6px;
  padding-right: 6px;
}

.paddingY {
  padding-top: 6px;
  padding-bottom: 6px;
}

.padding {
  padding: 4px 6px;
}

.marginX {
  margin-left: 6px;
  margin-right: 6px;
}

.marginY {
  margin-top: 6px;
  margin-bottom: 6px;
}

.section {
  display: flex;
  flex-direction: column;
  padding-top: 6px;
  padding-bottom: 6px;
}

.sectionReverse {
  display: flex;
  flex-direction: column-reverse;
  padding-top: 6px;
  padding-bottom: 6px;
}

.sectionImgReverse {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-right: 0;
  margin-top: 10px;
  position: relative;
  flex-grow: 1;
}

.sectionInfo {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  flex-grow: 1;
}

.bg-black {
  background-color: #000000;
}